
.github-viewer-footer {
    
    /* フッタを固定位置指定する。 */
    position: fixed;
    bottom: 0px;
    right: 20px;
    
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(255, 217, 0);
    background-color: #FFF5E5;
}
