/* タイマー（設定領域）のスタイル。 */
.timer-setting {

    display: flex;
    flex-direction: column;
    margin: 20px 0;

    /* タイマー設定項目のスタイル。 */
    &__row {

        display: none;
        margin: 5px auto;

    }

    /* タイマー設定ラベル（分）のスタイル。 */
    &__mm-label {

        font-size: 3.5em;
        vertical-align: middle;

    }

    /* タイマー設定ラベル（秒）のスタイル。 */
    &__ss-label {

        font-size: 3.5em;
        vertical-align: middle;

    }
    
    /* タイマー設定入力（分）のスタイル。 */
    &__mm-input {
        
        width: 60px;
        font-size: 3.5em;

    }

    /* タイマー設定入力（秒）のスタイル。 */
    &__ss-input {
        
        width: 60px;
        font-size: 3.5em;

    }

    /* タイマー設定完了ボタンのスタイル。 */
    &__setup-done {

        background-color: blue;
        color: antiquewhite;
        font-size: 3.5em;
        padding: 15px;
        margin: 15px 10px;
        border-radius: 10px;
        border: none;
        text-align: center;

    }

    /* タイマー設定完了ボタン（hover）のスタイル。 */
    &__setup-done:hover {

        opacity: 0.5;

    }
    
}
